<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>FormBasedAuthentication</servlet-name>
        <servlet-class>handler.login.FormBasedHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleAuthentication</servlet-name>
        <servlet-class>handler.login.GoogleAuthenticationHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimetableByWeek</servlet-name>
        <servlet-class>handler.timetable.ViewWeek</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transcript</servlet-name>
        <servlet-class>handler.TranscriptHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chat</servlet-name>
        <servlet-class>handler.LoadChatHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>handler.LogoutHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountSetting</servlet-name>
        <servlet-class>handler.AccountSettingHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleConnection</servlet-name>
        <servlet-class>handler.GoogleConnectionHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtttendaceReport</servlet-name>
        <servlet-class>handler.AttendanceReportHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeAttendance</servlet-name>
        <servlet-class>handler.TakeAttendanceHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>handler.SearchHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Language</servlet-name>
        <servlet-class>handler.LanguageHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimetableByYear</servlet-name>
        <servlet-class>handler.timetable.ViewYear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoveOutClass</servlet-name>
        <servlet-class>handler.MoveOutClassHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendRequest</servlet-name>
        <servlet-class>handler.SendRequestHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FormBasedAuthentication</servlet-name>
        <url-pattern>/sign-in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleAuthentication</servlet-name>
        <url-pattern>/google-authentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimetableByWeek</servlet-name>
        <url-pattern>/timetable/week</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transcript</servlet-name>
        <url-pattern>/transcript</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chat</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountSetting</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleConnection</servlet-name>
        <url-pattern>/google-connection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtttendaceReport</servlet-name>
        <url-pattern>/attendance-reports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeAttendance</servlet-name>
        <url-pattern>/attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Language</servlet-name>
        <url-pattern>/language</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimetableByYear</servlet-name>
        <url-pattern>/timetable/year</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoveOutClass</servlet-name>
        <url-pattern>/move-out-class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendRequest</servlet-name>
        <url-pattern>/send-request</url-pattern>
    </servlet-mapping>
</web-app>
