@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-straight/css/uicons-bold-straight.css');

* {
    font-family: "Roboto Condensed", sans-serif;
}

.fs-7 {
    font-size: small !important;
}

.white {
    background-color: #ffffff !important;
}

.not-light {
    background-color: #f6f6f6 !important;
}

.not-dark {
    background-color: #2c2f33 !important;
    color: #ffffff !important;
}

table th, td {
    padding: 0.2rem;
    font-size: small;
}

table th {
    border: 1.5px solid #f6f6f6;
    border-collapse: collapse;
    background-color: #ffffff;
    font-weight: 500;
}

table tr {
    border-bottom: 1.5px solid #ffffff;
}